<div class="hero-foot is-size-7 has-text-centered">
    <div class="flex-row justify-center align-center">
      <span class="has-text-light">Powered by  &nbsp;</span>
      <img width="25" height="25" src="imgs/watson-logo.png" alt="Watson Logo">
    </div>
    <span class="has-text-light">All Rights Reserved &copy;</span>
  </div>
</section>
</body>
</html>